<%= form_with url: recipes_path, method: :get do |f| %>
  <div class="mb-3" data-controller="search">
    <label class="form-label">Ingredients</label>
    <div class="row justify-content-between">
      <div class="col-8">
        <div class="input-group input-group-sm mb-2">
          <%= f.text_field :ingredients,
        class: "form-control",
        placeholder: "milk, eggs, BBQ, flour...",
        data: {
          "search-target": "ingredientInput",
          action: "keydown.enter->search#addIngredient"
        } %>
          <button type="button" class="btn btn-success" data-action="search#addIngredient">
            +
          </button>
        </div>
      </div>
      <div class="col-4">
        <%= f.button type: "submit", class: "btn btn-secondary btn-sm" do %>
          Search <i class="bi bi-search"></i>
        <% end %>
      </div>
    </div>
    <div class="input-group mb-2 d-none" data-search-target="ingredients">
      <% searched_recipes.each do |recipe| %>
        <input type="text" name="recipe[ingredients][]" class="form-control" value="<%= recipe %>">
      <% end %>
    </div>
    <div class="ingredients gap-3" data-search-target="ingredientsBadges">
      <% searched_recipes.each do |recipe| %>
        <a type="button" class="badge text-bg-secondary me-2" data-search-target="badge" data-action="click->search#removeIngredient">
          <%= recipe %>
          <i class="bi bi-x"></i>
        </a>
      <% end %>
    </div>
  </div>
<% end %>
