<%= form_with url: recipes_path, method: :get do |f| %>
  <div class="mb-3" data-controller="search">
    <label class="form-label">Search by ingredients</label>
    <div class="row justify-content-between">
      <div class="col-8">
        <div class="input-group input-group-sm mb-2">
          <%= f.text_field :ingredients,
        class: "form-control",
        placeholder: "milk, eggs, BBQ, flour...",
        data: {
          "search-target": "ingredientInput",
          action: "keydown.enter->search#addIngredient"
        } %>
          <button type="button" class="btn btn-secondary" data-action="search#addIngredient">
            +
          </button>
        </div>
      </div>
      <div class="col-4">
        <% display = searched_recipes.any? ? "" : "d-none" %>
        <%= f.button type: "submit", class: "btn btn-warning btn-sm #{display}", data: { "search-target": "submitButton" } do %>
          Search <i class="bi bi-search"></i>
        <% end %>
      </div>
    </div>
    <div data-search-target="ingredients">
      <% searched_recipes.each do |recipe| %>
        <input type="text" name="recipe[ingredients][]" data-search-target="ingredientElement" class="form-control d-none" value="<%= recipe %>">
        <a type="button" class="bg badge text-bg-secondary me-2 text-decoration-none" data-value="<%= recipe %>" data-action="click->search#removeIngredient">
          <%= recipe %> <i class="bi bi-x"></i>
        </a>
      <% end %>
    </div>
  </div>
<% end %>
