<div class="container vh-90 d-flex align-items-center justify-content-center">
  <div class="card shadow-lg w-100" style="max-width: 450px;">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Log in</h2>
      <%= form_for(
            resource,
            as: resource_name,
            url: session_path(resource_name)
          ) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <!-- Email -->
        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email,
                autofocus: true,
                autocomplete: "email",
                class: "form-control border-warning" %>
        </div>
        <!-- Password -->
        <div class="mb-3">
          <%= f.label :password, class: "form-label" %>
          <% if @minimum_password_length %>
            <small class= opacity-75 d-block mb-1">
              (<%= @minimum_password_length %> characters minimum)
            </small>
          <% end %>
          <%= f.password_field :password,
                autocomplete: "new-password",
                class: "form-control border-warning" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field mb-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <!-- Submit -->
        <div class="d-grid mb-3">
          <%= f.submit "Sign up", class: "btn btn-warning text-dark fw-bold" %>
        </div>
      <% end %>
      <!-- Devise links -->
      <p class="text-center">
        <%= render "devise/shared/links" %>
      </p>
    </div>
  </div>
</div>
